<h1>Band Page</h1>

<div class="band-name">{{name}}</div>
<div class="band-location">{{location}}</div>
{{#if website}}
<div><a class="band-website" {{bindAttr href="website"}}>website</a></div>
{{/if}}

