.hover {
    background: #fff8dc;
}

div.band-info {
    position: absolute;
    top: 36px;
}

div.venue-info {
    position: absolute;
    top: 36px;
}

div.venue-info {
    position: absolute;
    top: 36px;
}

div.v-name {
    font-size: 30px;
}

div.v-location {
    position: absolute;
    font-style: italic;
    font-size: 20px;
    left: 30px;
}

a.v-website {
    position: absolute;
    font-style: italic;
    font-size: 20px;
    top: 65px;
    left: 30px;
}

div.v-rating {
    font-size: 20px;
}

span.v-star {
    width: 50px;
}

span.v-star img {
    width: 50px;
}
